<!DOCTYPE html>
<html>
    <head>
        <title>Form View</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="/js/vendor/bootstrap/dist/css/bootstrap.css" type="text/css">
        <link rel="stylesheet" href="/js/vendor/bootstrap-daterangepicker/daterangepicker.css" type="text/css">
        <link rel="stylesheet" href="/css/select2.css" type="text/css">
        <link rel="stylesheet" href="/css/select2-bootstrap.css" type="text/css">
        <link rel="stylesheet" href="/css/forms.css" type="text/css">
        <style type="text/css" media="screen">
            .form-collection {
                border-top: 2px solid #ccc;
            }
            .form-collection > form {
                border-bottom: 2px solid #ccc;
            }
        </style>
        <script src="/js/vendor/requirejs/require.js"></script>
        <script src="/js/requirejs.config.js"></script>
        <script type="text/javascript">
            require([
                'backbone',
                'backbone.marionette',
                'marionette.form',
                'marionette.sort'
            ], function(Backbone, Marionette, Form, Sort) {
                
                var ListView = Form.CollectionView.extend({
                    
                    reorderOnSort: true,
                    
                    fields: [
                        {
                            control: 'header', collapse: true, collapsed: true, observe: ['firstName', 'lastName'],
                            label: '<%- form.data.firstName %> <%- form.data.lastName %>', level: 3
                        },
                        { key: 'firstName', control: 'input' },
                        { key: 'lastName', control: 'input' }
                    ]
                    
                });
                
                var collection = new Form.Collection([
                    { id: 102, firstName: 'Fred', lastName: 'Flintstone' },
                    { id: 103, firstName: 'Wilma', lastName: 'Flintstone' },
                    { id: 104, firstName: 'Barney', lastName: 'Rubble' }
                ]);
                
                Marionette.Sort.CollectionMixin.extend(collection, true);
                
                collection.sortByAttribute('firstName');
                collection.sortByAttribute('lastName');
                
                collection.on('change:firstName change:lastName', function(model, value, options) {
                    this.sort();
                });
                
                var list = new ListView({ collection: collection });
                
                list.on('row:change', function(row) {
                    var item = list.collection.get(row.model.id);
                    if (item) console.log('Saving %s', item.id, row.getData());
                });
                
                list.on('row:change', function(row) {
                    console.log('Change: ', JSON.stringify(list.getData(), null, 4));
                });
                
                // Rendering
                
                list.render();
                list.$el.appendTo('#layout');
                
            });
        </script>
    </head>
    <body>
        <div class="container">
            <h1>CollectionView <small>with Form.View items</small></h1>
        </div>
        <div id="layout" class="container"></div>
    </body>
</html>