<!DOCTYPE html>
<html>
    <head>
        <title>Form View</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="/js/vendor/bootstrap/dist/css/bootstrap.css" type="text/css">
        <link rel="stylesheet" href="/css/forms.css" type="text/css">
        <style type="text/css" media="screen">
            #list table tr td {
                cursor: pointer;
            }
            #list table tr.active td {
                background-color: #FFFADF;
            }
        </style>
        <!-- load jquery as normal, instead of through requirejs -->
        <script src="/js/vendor/jquery/dist/jquery.js"></script>
        <script src="/js/vendor/requirejs/require.js"></script>
        <!-- use jquery from script tag above with requirejs -->
        <script>define('jquery', [], function() { return jQuery; });</script>
        <script src="/js/requirejs.config.js"></script>
        <script type="text/javascript">
            require([
                'js.cookie',
                'backbone',
                'marionette',
                'marionette.form',
                'marionette.form.control.text',
                'backbone.validation',
                'backbone.branches'
            ], function(Cookies, Backbone, Marionette, Form) {
                
                var verbose = false;
                
                function logVerbose() {
                    if (verbose) console.log.apply(console, arguments);
                };
                
                var acceptedLocales = [
                    { id: 'de', label: 'Deutsch (DE)' },
                    { id: 'en', label: 'English (EN)' },
                    { id: 'es', label: 'Español (ES)' },
                    { id: 'fr', label: 'Français (FR)' },
                    { id: 'nl', label: 'Nederlands (NL)' }
                ];
                
                // Views
                
                var ListItem = Marionette.ItemView.extend({
                    
                    tagName: 'tr',
                    
                    template: '#list-item',
                    
                    triggers: {
                        'click': 'click',
                        'click [data-action="delete"]': 'delete'
                    },
                    
                    modelEvents: {
                        'change': 'render'
                    },
                    
                    onRender: function() {
                        this.$el.toggleClass('active', this.model.isCurrentBranch());
                    },
                    
                    serializeData: function() {
                        var data = Marionette.ItemView.prototype.serializeData.apply(this, arguments);
                        data.version = this.model.version;
                        data.isMain = this.model.isMainBranch();
                        data.isCurrent = this.model.isCurrentBranch();
                        return data;
                    }
                    
                });
                
                var ListView = Marionette.CollectionView.extend({
                    
                    tagName: 'table',
                    
                    className: 'table table-striped table-hover',
                    
                    childView: ListItem,
                    
                    collectionEvents: {
                        'change switch': 'render'
                    }
                    
                });
                
                // Model
                
                var Document = Backbone.BranchedModel.extend({
                    
                    urlRoot: '/documents',
                    
                    branches: _.pluck(acceptedLocales, 'id'),
                    
                    mainBranch: 'en',
                    
                    branchesAttribute: 'versions',  // default
                    
                    mergeMainBranch: false,         // default: false
                    
                    sparseBranches: true,           // default: true
                    
                    embedBranches: true,
                    
                    branchIdAttribute: '_version',
                    
                    branchAttributes: ['title', 'body'],
                    
                    validation: {
                        title: {
                            required: true
                        },
                        body: {
                            required: true
                        },
                        author: {
                            required: true
                        }
                    }
                    
                });
                
                _.extend(Document.prototype, Backbone.Validation.mixin);
                
                var data = _.extend({ id: 'doc-a' }, Cookies.getJSON('branching'));
                
                var doc = new Document(data);
                
                doc.on('branches:add', function(branch) {
                    logVerbose('Added branch: %s (%s)', branch.version, doc.branches.length);
                });
                
                doc.on('branches:before:switch', function(branch, previous) {
                    if (previous) logVerbose('Switching from %s to %s', branch.version, previous.version);
                });
                
                doc.on('branches:switch', function(branch) {
                    logVerbose('Switched to branch: %s', branch.version);
                });
                
                doc.on('branches:before:load', function(version, attrs, options) {
                    logVerbose('Loading branch: %s', version);
                });
                
                doc.on('branches:load', function(branch) {
                    logVerbose('Loaded branch: %s', branch.version);
                });
                
                doc.on('branches:load:fail', function(id, error) {
                    logVerbose('Failed to load branch: %s', id, error);
                });
                
                doc.on('branches:before:commit', function(branch, attrs) {
                    logVerbose('Committing branch: %s', branch.version);
                });
                
                doc.on('branches:commit', function(branch, attrs) {
                    logVerbose('Committed branch: %s', branch.version);
                });
                
                doc.on('branches:serialize', function(branch, attrs) {
                    logVerbose('Serializing branch: %s', branch.version);
                });
                
                // Form
                
                var ExampleForm = Form.View.extend({
                    
                    layout: 'vertical',
                    
                    fields: [
                        { id: 'title', control: 'input' },
                        { id: 'body', control: 'text' },
                        { id: 'author', control: 'input' },
                        { id: 'published', control: 'boolean' }
                    ],
                    
                    onSubmit: function(control, event) {
                        event.preventDefault();
                        if (this.commit()) {
                            var data = this.getData({ branches: true });
                            Cookies.set('branching', data);
                            console.log('Submit', JSON.stringify(data, null, 2));
                        } else {
                            console.log('Invalid fields: %s', _.keys(this.getErrors()).join(', '));
                        }
                    }
                    
                });
                
                var form = new ExampleForm({ model: doc });
                
                form.field('submit', { control: 'button', label: 'Save', type: 'submit', buttonType: 'success', autoDisable: true });
                
                form.on('control:change', function(control) {
                    this.resetErrors();
                });
                
                form.on('change', function() {
                    console.log('Change', JSON.stringify(this.getData({ branches: true }), null, 2));
                });
                
                form.render();
                form.$el.appendTo('#form');
                
                // Create non-rendering factory form
                
                var locales = new Form.Collection(acceptedLocales);
                
                var factory = new Form.View({
                    rendering: false, layout: 'vertical'
                });
                
                factory.registerCollection('locales', locales);
                
                factory.model.set('locale', doc.branches.default().version);
                
                factory.model.on('change:locale', function(model, lc, options) {
                    var previous = model.previous('locale');
                    var isMainBranch = form.model.branches.isMainBranch();
                    var previousBranch = form.model.branches.branch(previous);
                    var isEmpty = !previousBranch || previousBranch.isEmpty();
                    if ((!isMainBranch && isEmpty) || form.isValid()) {
                        if (isEmpty) form.model.branches.delete(previous);
                        form.model.branches.load(lc); // switch locale
                    } else {
                        model.set('locale', previous); // revert
                    }
                });
                
                var control = factory.getField('locale', { 
                    control: 'select', collection: 'locales'
                });
                
                control.render();
                control.$el.appendTo('#list');
                
                // Plain CollectionView integration
                
                var listView = new ListView({ collection: form.model.branches });
                
                listView.collection.on('switch', function(model) {
                    factory.model.set('locale', model.version);
                });
                
                listView.on('childview:click', function(view, info) {
                    factory.model.set('locale', info.model.version);
                });
                
                listView.on('childview:delete', function(view, info) {
                    form.model.branches.delete(info.model.version);
                });
                
                listView.render();
                listView.$el.appendTo('#list');
                
            });
        </script>
    </head>
    <body>
        <div class="container">
            <h1>Form <small>using model with embedded branches</small></h1>
        </div>
        <div class="container">
            <div class="row">
                <div id="list" class="col col-md-6"></div>
                <div id="form" class="col col-md-6"></div>
            </div>
        </div>
        
        <script id="list-item" type="text/template">
            <td width="5%"><%- obj.version %></td><td><%- obj.title %></td><td class="text-right" width="10%"><button class="btn btn-xs btn-danger" data-action="delete">Delete</button></td>
        </script>
    </body>
</html>